/*grey =  rgb(96, 96, 96);
blue      rgb(0, 119, 179);
dark blue  rgb(0, 85, 128);
orange     rgb(230, 92, 0);
green      rgb(136, 204, 0);
dark green   rgb(85, 128, 0);
*/
body {
  color: white;
}
h1, h2, h3, h4, h5, .row {
  margin: 0;
  padding: 0;
}
a, a:hover, a:visited, a:focus {
  color: inherit;
  text-decoration: none;
}
#mar-nav {
  display: none;
}
#mar-nav, #logo, #marnav-navbar-collapse .mar-menu {
  background-color: rgb(53, 53, 53);
  color: white;
  border: none;
  /*display: none;*/
}
#marnav-navbar-collapse {
  transition: 500ms ease;
}
#name-header {
  width: 100%;
  height: auto;
  padding: 50px;
  text-align: center;
  color: rgb(53, 53, 53);
  background: linear-gradient(-180deg, rgb(0, 153, 51), rgb(0, 153, 255));
  font-family: 'Archivo Black', sans-serif;
}
#name-header h1 {
  font-size: 150px;
}
#name-header span {
  color: rgb(53, 53, 53);
  background-color: rgba(255, 255, 255, .5);
  padding: 2px 20px;
  font-size: 35px;
}
#name-header > div:first-of-type {
  padding-bottom: 20px;
}
#name-header > div:first-of-type i {
  display: block;
  margin-top: 50px;
}
#name-header > div {
  height: auto;
  background: rgba(255, 255, 255, .5);
}
#name-header > div:last-of-type {
  color: rgb(53, 53, 53);
  text-align: center;
  padding: 10px;
  width: calc(100% - 100px);
  margin: 20px auto;
}
#name-header > div p {
  font-size: 27px;
  margin-left: 65px;
}
#name-header > div i {
  width: auto;
  height: 100%;
  margin: 0 auto;
}
#site-space{
  background: linear-gradient(-180deg, rgb(0, 153, 255), rgb(230, 92, 0));
}
#port-bowl {
  position: relative;
  height: auto;
  width: 100%;
  padding: 10px;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
#port-bowl > div {
  margin: 30px auto 0 auto;
  padding: 10px;
  text-align: center;
  color: rgb(53, 53, 53);
  background-color: rgba(255, 255, 255, .5);
  height: 700px;
  width: 430px;
}
#port-bowl > div h4 {
  font-size: 30px;
  margin: 60px auto;
}
.h4-underline {
  text-decoration: underline;
}
#port-bowl > div > div {
  margin: 5px auto;
  height: 130px;
  width: 380px;
}
#port-bowl .icon-contr {
  float: left;
  height: 130px;
  width: 130px;
}
#port-bowl h2 {
  font-size: 25px;
}
#port-bowl h2, .icon-contr {
  line-height: 130px;
}
#port-bowl p {
  font-size: 18px;
}
footer {
  padding: 20px 0;
  height: 300px;
  background-color: rgb(53, 53, 53);
  text-align: center;
}
footer img {
  width: 98%;
}
footer a {
  margin: 0 15px;
}
footer h4 {
  font-size: 20px;
}
footer > div > div:nth-of-type(2) h4:first-of-type {
  margin: 30px 0 10px 0;
}
footer input, footer textarea {
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  color: rgb(53, 53, 53);
  display: block;
}
footer input:not(:last-of-type), footer textarea {
  width: 80%;
}
footer textarea {
  height: 120px;
}
footer input {
  height: 35px;
}
footer input:last-of-type {
  background: rgba(255, 255, 255, .5);
  width: 150px;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}
@media screen and (max-width: 412px) {
  #name-header {
    padding: 5px;
  }
  #name-header h1 {
    font-size: 70px;
  }
  #name-header span {
    background-color: rgba(255, 255, 255, .5);
    font-size: 18px;
  }
  #port-bowl > div {
    padding: 0;
    width: 98%;
  }
  #port-bowl > div > div {
    width: 90%;
  }
  #port-bowl h2 {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  footer {
    height: auto;
  }
  footer .col-sm-4:nth-of-type(2) {
    margin: 40px 0;
  }
}
@media screen and (max-width: 876px) {
  #name-header {
    padding: 5px;
  }
  #name-header h1 {
    font-size: 90px;
  }
  #name-header p {
    font-size: 25px;
  }
  #port-bowl {
    height: auto;
  }
}
@media screen and (min-width: 877px) and (max-width: 1306px) {
  #name-header h1 {
    font-size: 100px;
  }
}
