/*grey   rgb(96, 96, 96);
blue      rgb(0, 119, 179);
dark blue  rgb(0, 85, 128);
orange     rgb(230, 92, 0);
green      rgb(136, 204, 0);
dark green   rgb(85, 128, 0);
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
  color: rgb(53, 53, 53);
  font-family: sans-serif;
  text-align: center;
}

a,
a:hover,
a:visited,
a:focus {
  color: inherit;
  text-decoration: none;
}

nav {
  position: fixed;
  width: 100%;
}

nav > div {
  background: rgb(53, 53, 53);
  color: white;
  margin: 0 auto;
  width: 300px;
}

nav > div > a {
  margin: 0 10px;
}

#intro {
  height: 500px;
  position: relative;
}

#intro .fa {
  cursor: pointer;
  position: absolute;
  left: calc(50vw - 31px);
  top: 300px;
  text-align: center;
}

#intro h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  left: calc(50vw - 308px);
  position: absolute;
  text-align: center;
  top: 260px;
  width: 600px;
}

#intro .menu-add {
  background: rgba(53, 53, 53, .8);
  border-radius: 100%;
  color: #fff;
  height: 200px;
  line-height: 200px;
  position: absolute;
  top: 220px;
  left: calc(50vw - 90px);
  visibility: hidden;
  width: 200px;
}

.fa-sort-amount-asc {
  transform: rotate(45deg) translateY(150px) rotate(-45deg);
  -webkit-animation: moveHanoi 1s linear; /* Chrome, Safari 5 */
  -moz-animation: moveHanoi 1s linear; /* Firefox 5-15 */
  -o-animation: moveHanoi 1s linear; /* Opera 12+ */
  animation: moveHanoi 1s linear; /* Chrome, Firefox 16+, IE 10+, Safari 5 */
}

.fa-sort-amount-asc:hover + .menu-add,
.fa-paw:hover + .menu-add,
.fa-dollar:hover + .menu-add,
.fa-film:hover + .menu-add {
  visibility: visible;
}

.fa-paw {
  transform: rotate(135deg) translateY(150px) rotate(-135deg);
  -webkit-animation: movePaw 1s linear; /* Chrome, Safari 5 */
  -moz-animation: movePaw 1s linear; /* Firefox 5-15 */
  -o-animation: movePaw 1s linear; /* Opera 12+ */
  animation: movePaw 1s linear; /* Chrome, Firefox 16+, IE 10+, Safari 5 */
}

.fa-dollar {
  transform: rotate(180deg) translateY(150px) rotate(-180deg);
  -webkit-animation: moveDollar 1s linear; /* Chrome, Safari 5 */
  -moz-animation: moveDollar 1s linear; /* Firefox 5-15 */
  -o-animation: moveDollar 1s linear; /* Opera 12+ */
  animation: moveDollar 1s linear; /* Chrome, Firefox 16+, IE 10+, Safari 5 */
}

.fa-film {
  transform: rotate(225deg) translateY(150px) rotate(-225deg);
  -webkit-animation: moveFilm 1s linear; /* Chrome, Safari 5 */
  -moz-animation: moveFilm 1s linear; /* Firefox 5-15 */
  -o-animation: moveFilm 1s linear; /* Opera 12+ */
  animation: moveFilm 1s linear; /* Chrome, Firefox 16+, IE 10+, Safari 5 */
}

.fa-file-text {
  transform: rotate(315deg) translateY(150px) rotate(-315deg);
  -webkit-animation: moveFileText 1s linear; /* Chrome, Safari 5 */
  -moz-animation: moveFileText 1s linear; /* Firefox 5-15 */
  -o-animation: moveFileText 1s linear; /* Opera 12+ */
  animation: moveFileText 1s linear; /* Chrome, Firefox 16+, IE 10+, Safari 5 */
}

.fa-chevron-down {
  color: rgb(136, 204, 0);
  transform: translateY(150px);
  -webkit-animation: moveChevron 1s linear; /* Chrome, Safari 5 */
  -moz-animation: moveChevron 1s linear; /* Firefox 5-15 */
  -o-animation: moveChevron 1s linear; /* Opera 12+ */
  animation: moveChevron 1s linear; /* Chrome, Firefox 16+, IE 10+, Safari 5 */
}

@-webkit-keyframes moveHanoi {
    from { -webkit-transform: rotate(0deg) translateY(150px) rotate(0deg); }
    to   { -webkit-transform: rotate(45deg) translateY(150px) rotate(-45deg) }
}

@-moz-keyframes moveHanoi {
    from { -moz-transform: rotate(0deg) translateY(150px) rotate(0deg); }
    to   { -moz-transform: rotate(45deg) translateY(150px) rotate(-45deg) }
}

@-o-keyframes moveHanoi {
    from { -o-transform: rotate(0deg) translateY(150px) rotate(0deg); }
    to   { -o-transform: rotate(45deg) translateY(150px) rotate(-45deg) }
}

@keyframes moveHanoi {
    from { transform: rotate(0deg) translateY(150px) rotate(0deg); }
    to   { transform: rotate(45deg) translateY(150px) rotate(-45deg) }
}

@-webkit-keyframes movePaw {
    from { -webkit-transform: rotate(0deg) translateY(150px) rotate(0deg); }
    to   { -webkit-transform: rotate(135deg) translateY(150px) rotate(-135deg); }
}

@-moz-keyframes movePaw {
    from { -moz-transform: rotate(0deg) translateY(150px) rotate(0deg); }
    to   { -moz-transform: rotate(135deg) translateY(150px) rotate(-135deg); }
}

@-o-keyframes movePaw {
    from { -o-transform: rotate(0deg) translateY(150px) rotate(0deg); }
    to   { -o-transform: rotate(135deg) translateY(150px) rotate(-135deg); }
}

@keyframes movePaw {
    from { transform: rotate(0deg) translateY(150px) rotate(0deg); }
    to   { transform: rotate(135deg) translateY(150px) rotate(-135deg); }
}

@-webkit-keyframes moveDollar {
    from { -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -webkit-transform: rotate(180deg) translateY(150px) rotate(-180deg); }
}

@-moz-keyframes moveDollar {
    from { -moz-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -moz-transform: rotate(180deg) translateY(150px) rotate(-180deg); }
}

@-o-keyframes moveDollar {
    from { -o-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -o-transform: rotate(180deg) translateY(150px) rotate(-180deg); }
}

@keyframes moveDollar {
    from { transform: rotate(0deg) translateY(150px) rotate(0deg); }
    to   { transform: rotate(180deg) translateY(150px) rotate(-180deg); }
}

@-webkit-keyframes moveFilm {
    from { -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -webkit-transform: rotate(225deg) translateY(150px) rotate(-225deg); }
}

@-moz-keyframes moveFilm {
    from { -moz-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -moz-transform: rotate(225deg) translateY(150px) rotate(-225deg); }
}

@-o-keyframes moveFilm {
    from { -o-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -o-transform: rotate(225deg) translateY(150px) rotate(-225deg); }
}

@keyframes moveFilm {
    from { transform: rotate(0deg) translateY(150px) rotate(0deg); }
    to   { transform: rotate(225deg) translateY(150px) rotate(-225deg); }
}

@-webkit-keyframes moveFileText {
    from { -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -webkit-transform: rotate(315deg) translateY(150px) rotate(-315deg); }
}

@-moz-keyframes moveFileText {
    from { -moz-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -moz-transform: rotate(315deg) translateY(150px) rotate(-315deg); }
}

@-o-keyframes moveFileText {
    from { -o-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -o-transform: rotate(315deg) translateY(150px) rotate(-315deg); }
}

@keyframes moveFileText {
    from { transform: rotate(0deg) translateY(150px) rotate(0deg); }
    to   { transform: rotate(315deg) translateY(150px) rotate(-315deg); }
}

@-webkit-keyframes moveChevron {
    from { -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -webkit-transform: rotate(315deg) translateY(150px) rotate(-315deg); }
}

@-moz-keyframes moveChevron {
    from { -moz-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -moz-transform: rotate(315deg) translateY(150px) rotate(-315deg); }
}

@-o-keyframes moveChevron {
    from { -o-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -o-transform: rotate(315deg) translateY(150px) rotate(-315deg); }
}

@keyframes moveChevron {
    from { transform: rotate(0deg) translateY(150px) rotate(0deg); }
    to   { transform: rotate(360deg) translateY(150px) rotate(-360deg); }
}

section {
  height: auto;
  transition: all 1s;
}

section:nth-of-type(odd):not(:first-of-type) {
  background-color: rgb(53, 53, 53);
  color: #fff;
}

.bio {
  width: 780px;
  margin: -20px auto 20px auto;
  font-size: 20px;
  overflow-x: hidden;
}

.bio span {
  display: inline-block;
}

.bio span:nth-of-type(1),
.bio span:nth-of-type(2) {
  opacity: .4;
}

.bio span:nth-of-type(3),
.bio span:nth-of-type(4) {
  opacity: .6;
}

.bio span:nth-of-type(5),
.bio span:nth-of-type(6) {
  opacity: .8;
}

.bio span:last-of-type {
  color: rgb(136, 204, 0);
}

.danny {
  font-size: 150px;
  margin-top: 100px;
}

.danny,
.site h2 {
  font-family: 'Raleway', sans-serif;
}

.site h2 {
  font-size: 30px;
}

#feedback-space {
  padding: 30px 15px;
}

#quote i {
  height: 100%;
  color: rgb(136, 204, 0);
}

#quote > div {
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding: 100px 0;
}

#myquote,
#skill-space {
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

#site-space {
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.site {
  width: 300px;
  height: 300px;
  margin: 50px 10px;
  background-position: center;
  transition: all .8s;
  transition-timing-function: ease-out;
}

.site:nth-of-type(1) {
  background-image: url('../img/toh_tnail.png');
}

.site:nth-of-type(2) {
  background-image: url('../img/pet_tnail.png');
}

.site:nth-of-type(3) {
  background-image: url('../img/brdgt_tnail.png');
}

.site:nth-of-type(4) {
  background-image: url('../img/movie_tnail.png');
}

.site > a > div {
  background: rgba(53, 53, 53, .2);
  border: 1px solid white;
  color: #fff;
  height: 280px;
  padding: 10px;
  text-align: left;
  transition: all .8s;
  transition-timing-function: ease-out;
}

.site p {
  font-size: 18px;
  visibility: hidden;
}

.site:hover {
  cursor: pointer;
}

.site:hover > a > div {
  text-align: right;
  background: rgba(53, 53, 53, .8);
  border: 1px solid rgb(136, 204, 0);
}

.site:hover h2 {
  color: rgb(136, 204, 0);
}

.site a > div:hover p {
  visibility: visible;
}

#skill-space {
  padding: 2% 10%;
}

#skill-space span:nth-of-type(odd) {
  color: rgb(53, 53, 53);
}

#skill-space span:nth-of-type(even) {
  color: rgb(136, 204, 0);
}

#feedback-space > div {
  width: 50%;
  height: 300px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

#feedback-space input {
  height: 35px;
}

#feedback-space input,
#feedback-space textarea {
  margin: 10px auto;
  border: none;
  padding: 5px;
  font-size: 18px;
  color: rgb(53, 53, 53);
  display: block;
}

#feedback-space input:not(:last-of-type),
#feedback-space textarea {
  width: 80%;
}

#feedback-space textarea {
  font-family: sans-serif;
  height: 170px;
}

#feedback-space input:last-of-type {
  background: rgb(136, 204, 0);
  color: white;
  width: 150px;
}

#media-space {
  padding: 10px;
}

#media-space > div {
  width: 70%;
  height: auto;
  margin: 20px auto;
  background: rgba(53, 53, 53, .5);
}

footer {
  background-color: rgb(53, 53, 53);
  color: #fff;
  padding: 20px 0;
  height: auto;
  text-align: center;
}

footer img {
  width: 98%;
}

footer a {
  margin: 0 15px;
}

footer h4 {
  font-size: 20px;
}

footer > div > div:first-of-type h4:first-of-type {
  color: rgb(136, 204, 0);
  margin-bottom: 20px;
}

footer i {
  margin-top: 20px;
}

footer i:hover {
  color: rgb(136, 204, 0);
}

@media screen and (max-width: 799px) {
  .bio {
    width: 280px;
    margin: -10px auto 20px auto;
  }
  .danny {
    font-size: 50px;
  }
  #myquote {
    font-size: 20px;
    font-weight: bold;
  }
  #feedback-space > div {
    width: 95%;
  }
  #media-space > div {
    width: 95%;
  }
}
@media screen and (min-width: 800px) and (max-width: 945px) {
  #feedback-space > div {
    width: 95%;
  }
}
