/*grey   rgb(96, 96, 96);
blue      rgb(0, 119, 179);
dark blue  rgb(0, 85, 128);
orange     rgb(230, 92, 0);
green      rgb(136, 204, 0);
dark green   rgb(85, 128, 0);
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
  color: rgb(53, 53, 53);
  font-family: sans-serif;
  text-align: center;
}

a,
a:hover,
a:visited,
a:focus {
  color: inherit;
  text-decoration: none;
}

section {
  height: auto;
  transition: all 1s;
}

section:nth-of-type(odd):not(:first-of-type) {
  background-color: rgb(53, 53, 53);
  color: #fff;
}

.bio {
  width: 780px;
  margin: -20px auto 20px auto;
  font-size: 20px;
  overflow-x: hidden;
}

.bio span {
  display: inline-block;
}

.bio span:nth-of-type(1),
.bio span:nth-of-type(2) {
  opacity: .4;
}

.bio span:nth-of-type(3),
.bio span:nth-of-type(4) {
  opacity: .6;
}

.bio span:nth-of-type(5),
.bio span:nth-of-type(6) {
  opacity: .8;
}

.bio span:last-of-type {
  color: rgb(136, 204, 0);
}

.danny {
  font-size: 150px;
  margin-top: 100px;
}

.danny,
.site h2 {
  font-family: 'Raleway', sans-serif;
}

.site h2 {
  font-size: 30px;
}

#feedback-space {
  padding: 30px 15px;
}

#quote i {
  height: 100%;
  color: rgb(136, 204, 0);
}

#quote > div {
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding: 100px 0;
}

#myquote,
#skill-space {
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

#site-space {
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.site {
  width: 300px;
  height: 300px;
  margin: 50px 10px;
  background-position: center;
  transition: all .8s;
  transition-timing-function: ease-out;
}

.site:nth-of-type(1) {
  background-image: url('../img/toh_tnail.png');
}

.site:nth-of-type(2) {
  background-image: url('../img/pet_tnail.png');
}

.site:nth-of-type(3) {
  background-image: url('../img/brdgt_tnail.png');
}

.site:nth-of-type(4) {
  background-image: url('../img/movie_tnail.png');
}

.site > a > div {
  background: rgba(53, 53, 53, .2);
  border: 1px solid white;
  color: #fff;
  height: 280px;
  padding: 10px;
  text-align: left;
  transition: all .8s;
  transition-timing-function: ease-out;
}

.site p {
  font-size: 18px;
  visibility: hidden;
}

.site:hover {
  cursor: pointer;
}

.site:hover > a > div {
  text-align: right;
  background: rgba(53, 53, 53, .8);
  border: 1px solid rgb(136, 204, 0);
}

.site:hover h2 {
  color: rgb(136, 204, 0);
}

.site a > div:hover p {
  visibility: visible;
}

#skill-space {
  padding: 2% 10%;
}

#skill-space span:nth-of-type(odd) {
  color: rgb(53, 53, 53);
}

#skill-space span:nth-of-type(even) {
  color: rgb(136, 204, 0);
}

#feedback-space > div {
  width: 50%;
  height: 300px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

#feedback-space input {
  height: 35px;
}

#feedback-space input,
#feedback-space textarea {
  margin: 10px auto;
  border: none;
  padding: 5px;
  font-size: 18px;
  color: rgb(53, 53, 53);
  display: block;
}

#feedback-space input:not(:last-of-type),
#feedback-space textarea {
  width: 80%;
}

#feedback-space textarea {
  font-family: sans-serif;
  height: 170px;
}

#feedback-space input:last-of-type {
  background: rgb(136, 204, 0);
  color: white;
  width: 150px;
}

#media-space {
  padding: 10px;
}

#media-space > div {
  width: 70%;
  height: auto;
  margin: 20px auto;
  background: rgba(53, 53, 53, .5);
}

footer {
  background-color: rgb(53, 53, 53);
  color: #fff;
  padding: 20px 0;
  height: auto;
  text-align: center;
}

footer img {
  width: 98%;
}

footer a {
  margin: 0 15px;
}

footer h4 {
  font-size: 20px;
}

footer > div > div:first-of-type h4:first-of-type {
  color: rgb(136, 204, 0);
  margin-bottom: 20px;
}

footer i {
  margin-top: 20px;
}

footer i:hover {
  color: rgb(136, 204, 0);
}

@media screen and (max-width: 799px) {
  .bio {
    width: 280px;
    margin: -10px auto 20px auto;
  }
  .danny {
    font-size: 50px;
  }
  #myquote {
    font-size: 20px;
    font-weight: bold;
  }
  #feedback-space > div {
    width: 95%;
  }
  #media-space > div {
    width: 95%;
  }
}
@media screen and (min-width: 800px) and (max-width: 945px) {
  #feedback-space > div {
    width: 95%;
  }
}
