body {
  text-align: center;
  background-image: url("../img/woodbackdrop.jpg");
  background-position: left;
  background-size: cover;
  font-family: 'Rock Salt', cursive;
}

div[data-cell] {
  width: 100px;
  height: 100px;
  float: left;
  font-size: 55px;
  text-align: center;
  color: rgba(255, 255, 255, .8);
  font-family: 'Rock Salt',cursive;
  line-height: 100px;
}

div[data-cell="1"], div[data-cell="4"], div[data-cell="7"] {
  border-left: 3px solid white;
  border-right: 3px solid white;
}

#game-board {
  height: 310px;
  width: 310px;
  margin: 0 auto;
}

.row {
  clear: both;
  height: 100px
}
.row:nth-of-type(2) {
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

#announce-winner {
  clear: both;
  font-size: 50px;
  background: rgba(255, 255, 255, .8);
}

#clear {
  margin-top: 50px;
  width: 200px;
  height: 45px;
  color: rgba(0, 0, 0, .7);
  border: none;
  font-size: 20px;
  background: rgba(255, 255, 255, .8);
  cursor: pointer;
  font-family: 'Rock Salt', cursive;
}
@media screen and (max-width: 412px) {
  header h1 {
    font-size: 45px;
  }
  #announce-winner {
    font-size: 30px;
  }
}
