body {
  width: 1200px;
  margin: auto;
  background-image: url("https://lh3.googleusercontent.com/-M6VsoJzGd-4/TY6PcV7XG2I/AAAAAAAAAb8/_V_JmdXpT3A/s1600/Flaming+White+Fender+Electric+Guitar+Flames+Burn+Fire+HD+Music+Desktop+Wallpaper+1680x1050+Great+Guitar+Sound+www.GreatGuitarSound.Blogspot.com.jpg");
  font-family: 'Lalezar', Arial;
  color: white;
}
header {
  padding: 30px 0px 30px 0px;
}
h1 {
  font-size: 60px;
  margin: 0 auto;
}
h2 {
  margin: 0 auto;
  font-size: 30px;
}
section {
  width: 1000px;
  height: 670px;
}
.menu {
  width: 500px;
  height: 670px;
  background-color: rgba(255, 255, 255, .2);
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
}
.menu > div {
  margin: 5px 10px 0px 10px;
  width: 480px;
  height: 125px;
  border-bottom: 2px solid black;
}
img {
  margin: 0px 15px 0px 0px;
  float: left;
  width: 125px;
  height: 125px;
}
#guitarplus {
  visibility: hidden;
  width: 500px;
  height: 670px;
  background-color: rgba(255, 255, 255, .2);
  padding-top: 5px;
  padding-bottom: 5px;
  float: left;
}
