
h1 {
  font-family: 'Modak', fantasy;
}
#balls {
  margin-top: 30px;
}
#eightball, #kickBall, #spaceBall {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin: 0 auto;
  text-align: center;
}
#eightball, #kickBall {
  padding: 75px 75px;
}
#eightball {
  background: linear-gradient(-30deg, black, rgb(75, 75, 75), black);
}
#kickBall {
  background: linear-gradient(-30deg, rgb(75, 75, 75), rgb(255, 77, 77), rgb(255, 77, 77));
}
#spaceBall{
  background: radial-gradient(white, rgb(225, 225, 225),rgb(100, 100, 100));
  padding: 150px 75px 0px 75px;
}
#water, #punch {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}
#water {
  background-color: blue;
  border-bottom: 3px solid rgb(100, 100, 100);
  border-left: 3px solid rgb(100, 100, 100);
  border-right: 10px solid rgb(100, 100, 100);
  border-top: 10px solid rgb(100, 100, 100);
}
#punch {
  background-color: rgb(134, 179, 0);
  border-bottom: 3px solid rgb(255, 117, 26);
  border-left: 3px solid rgb(255, 117, 26);
  border-right: 10px solid rgb(255, 117, 26);
  border-top: 10px solid rgb(255, 117, 26);
}
#high {
  height: 150px;
  width: 150px;
  background-color: black;
  border-radius: 5% 5% 35% 35%;
}
#water, #punch, #high {
  padding: 25px;
}
h4 {
  color: white;
  text-shadow: 2px 2px rgb(50, 50, 50);
  opacity: 0;
}
@media screen and (max-width: 992px) {
  #eightball, #kickBall, #spaceBall {
    width: 250px;
    height: 250px;
  }
  #eightball, #kickBall {
    padding: 50px;
  }
  #spaceBall{
    background: radial-gradient(white, rgb(225, 225, 225),rgb(100, 100, 100));
    padding: 100px 50px 0px 50px;
  }
}
