section {
  height: 800px;
}
#fading-back-carousel {
  margin: 50px auto;
  height: 600px;
  width: 1000px;
  background-image: url("../img/dog1.jpg");
  background-position: center;
  background-size: cover;
  transition: 1000ms ease;
}
#fading-back-carousel h1 {
  background-color: rgba(255, 255, 255, .8);
  text-shadow: 1px 1px rgb(50, 50, 50);
}
#rotating-div {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 50px auto;
}
#rotating-div > div {
  float: left;
  height: 50%;
  width: 50%;
  border: 2px solid black;
}
.upper-left {
  position: absolute;
  top: 0;
  left: 0;
}
.upper-right {
  position: absolute;
  top: 0;
  left: 50%;
}
.lower-left {
  position: absolute;
  top: 50%;
  left: 0;
}
.lower-right {
  position: absolute;
  top: 50%;
  left: 50%;
}
