/*green  rgb(136, 204, 0)*/
/*blue  rgb(0, 119, 179)*/
/*orange  rgb(230, 92, 0)*/
h1, h2, h3, h4, h5, .row {
  margin: 0;
}
section {
  height: 100vh;
}
#intro {
  padding-top: 20%;
  text-align: center;
}
#intro > div {
  border-top: 3px solid rgb(230, 92, 0);
}
#intro h1 {
  color: rgb(0, 119, 179);
  font-family: 'Six Caps', sans-serif;
  font-size: 150px;
}
#intro h3 {
  color: rgb(136, 204, 0);
}
#gallery {
  padding-top: 8%;
}
#gallery div {
  height: 600px;
}
#gallery > div, #products > div {
  border-top: 3px solid rgb(230, 92, 0);
}
#gallery > div > div > div {
  padding-top: 150px
}
#gallery h1, #products h1 {
  transform: rotate(-90deg);
  text-align: center;
  color: rgb(136, 204, 0);
}
#products > div > div > div {
  padding-top: 195px;
}
