header {
    height: 150px;
    width: 1150px;
    margin: 0 auto;
    font-family: fantasy;
}
header h1 {
  display: inline-block;
}
header > div {
  height: 75px;
}
header > div > div:nth-of-type(odd) {
  float: left;
}
header >div > div:nth-of-type(even) {
  float: right;
}
button {
  width: 120px;
  height: 30px;
  font-size: 20px;
  background-color: black;
  color: white;
  border: none;
  display: inline-block;
  clear: both;
}
p {
  font-size: 20px;
}
#match {
  color: black;
}
#game-board {
  width: 1150px;
  height: 640px;
  margin: 0 auto;
}
#game-board > div {
  width: 1150px;
  height: 160px;
  text-align: center;
}
#game-board > div > div {
  float: left;
  width: 115px;
  height: 160px;
  border: 2px solid black;
}
.card {
  background-image: none;
  background-position: center;
  background-size: cover;
  color: black;
}
.cover {
  height: 100%;
  width: 100%;
  background-color: rgb(100, 100, 100);
  opacity: 0;
}
#tier-one h1, #tier-two h1 {
  margin: 0 50px;
  font-family: fantasy;
  font-size: 50px;
  font-style: italic;
  line-height: 160px;
  display: inline-block;
}
.clearfix:after {
     display: block;
     content: "";
     clear: both;
}
